.DS_Store
.idea/
__pycache__/
geckodriver.log
articles/
*.csv
fake-news-excess/
logs/
text-articles/
auto*.py
annotations/
txt-labelled-articles/
json-annotations/
*.tar.gz
explanations/
runs/
*.model
fake-news-articles/
test.py
*.svg
*.txt
*.png
datasets/
images/
.ipynb_checkpoints/
